<div>
    <h1>Crerate-form-reactive</h1>
</div>
<div *ngIf="updateStudent; then display else hide"></div>
<ng-template #display>
  <form [formGroup]="reactive" (ngSubmit)="save()" class="row g-3 needs-validation" novalidate>
    <div class="mb-3">
      <label class="form-label">Id</label>
      <input type="text" class="form-control" placeholder="Example input placeholder" [(ngModel)]="updateStudent.id" formControlName="id">
      <div *ngIf="reactive.get('id')?.errors && reactive.get('id')?.touched">
        <p class="text-danger">Vui long nhap id</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Another input placeholder" [(ngModel)]="updateStudent.name"  formControlName="name">
      <div *ngIf="!reactive.get('name')?.valid && reactive.get('name')?.touched">
        <p class="text-danger" *ngIf="reactive.get('name')?.errors?.required">Ten khong duoc de trong</p>
        <p class="text-danger" *ngIf="reactive.get('name')?.errors?.minlength">Ten phai co do dai lon hon 4 ky tu</p>
      </div>
    </div>
    <div>

      Gender: <input value="1"  name="gender" type="radio" formControlName="gender" >Nam
      <input value="0"  name="gender" type="radio" formControlName="gender">Nu
      <input value="2" checked name="gender" type="radio" formControlName="gender">LGBT
      <div *ngIf="!reactive.get('gender')?.valid && reactive.get('gender').untouched">
        <p class="text-danger">Khong duoc de trong gender</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Mark</label>
      <input type="text" class="form-control" placeholder="Example input placeholder" [(ngModel)]="updateStudent.mark" formControlName="mark">
      <div *ngIf="!reactive.get('mark')?.valid && reactive.get('mark').touched">
        <p class="text-danger">Nhap diem bi sai</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" class="form-control" placeholder="Another input placeholder" [(ngModel)]="updateStudent.address" formControlName="address">
      <div *ngIf="!reactive.get('address')?.valid && reactive.get('address').touched">
        <p class="text-danger">Vui long nhap lai address</p>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" [disabled]="!reactive.valid" >Submit form</button>
    </div>
  </form>

</ng-template>
<ng-template #hide>
  <form [formGroup]="reactive" (ngSubmit)="save()" class="row g-3 needs-validation" novalidate>
    <div class="mb-3">
      <label class="form-label">Id</label>
      <input type="text" class="form-control" placeholder="Example input placeholder" formControlName="id">
      <div *ngIf="reactive.get('id')?.errors && reactive.get('id')?.touched">
        <p class="text-danger">Vui long nhap id</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Another input placeholder" formControlName="name">
      <div *ngIf="!reactive.get('name')?.valid && reactive.get('name')?.touched">
        <p class="text-danger" *ngIf="reactive.get('name')?.errors?.required">Ten khong duoc de trong</p>
        <p class="text-danger" *ngIf="reactive.get('name')?.errors?.minlength">Ten phai co do dai lon hon 4 ky tu</p>
      </div>
    </div>
    <div>
      Gender: <input value="1" name="gender" type="radio" formControlName="gender">Nam
      <input value="0" name="gender" type="radio" formControlName="gender">Nu
      <input value="2" name="gender" type="radio" formControlName="gender">LGBT
      <div *ngIf="!reactive.get('gender')?.valid && reactive.get('gender').untouched">
        <p class="text-danger">Khong duoc de trong gender</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Mark</label>
      <input type="text" class="form-control" placeholder="Example input placeholder" formControlName="mark">
      <div *ngIf="!reactive.get('mark')?.valid && reactive.get('mark').touched">
        <p class="text-danger">Nhap diem bi sai</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" class="form-control" placeholder="Another input placeholder" formControlName="address">
      <div *ngIf="!reactive.get('address')?.valid && reactive.get('address').touched">
        <p class="text-danger">Vui long nhap lai address</p>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" [disabled]="!reactive.valid" >Submit form</button>
    </div>
  </form>

</ng-template>
