<div>
  <table>
    <tr>
      <td>Title:</td>
      <td>
        <textarea [(ngModel)]="article1.title" name="" id="" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="article1.url" name="" cols="70"></textarea>
      </td>
    </tr>
  </table>
  <button (click)="addArticle()">Create Article</button>
</div>
<hr>
<h2>Today's article</h2>
<hr>
<div *ngFor="let element  of article">
  <a href="{{element.url}}" target="_blank">{{element.title}}</a>: <app-like></app-like>
</div>
<hr>
