<h1>List Student</h1>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Mark</th>
    <th>Address</th>
    <td>Feature</td>
  </tr>
  <tr *ngFor="let item of student; index as i" >
      <td>{{i+1}}</td>
    <td [ngStyle]="{'color' : item.gender==2? 'red': ''}">{{item.name}}</td>
    <td [ngSwitch]="item.gender" >
      <span *ngSwitchCase="0">Female</span>
      <span *ngSwitchCase="1">Male</span>
      <span *ngSwitchDefault>LGBT</span>
    </td>
    <div *ngIf="item.mark>=50; then Pass else Fail"></div>
    <ng-template #Pass>Pass</ng-template>
    <ng-template #Fail>Fail</ng-template>
    <td>{{item.address}}</td>
    <td>
      <button type="button" >Detail</button>
      <button type="button" >Delete</button>
    </td>
  </tr>
</table>
