<div class="container">
  <div>
    <h1>List</h1>
    <table class="table table-striped">
      <tr>
        <th>STT</th>
        <th>ID Benh an</th>
        <th>ID Benh nhan</th>
        <th>Ten BN</th>
        <th>Ngay nhap</th>
        <th>Ngay ra</th>
        <th>Ly do</th>
        <th>Phuong phap</th>
        <th>Bac sy</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let item of model; index as i">
        <td>{{i+1}}</td>
        <td>{{item.idBenhAn}}</td>
        <td>{{item.idBenhNhan}}</td>
        <td>{{item.tenBenhNhan}}</td>
        <td>{{item.ngayNhapVien | date: 'dd-MM-yyyy'}}</td>
        <td>{{item.ngayRaVien | date: 'dd-MM-yyyy'}}</td>
        <td>{{item.lyDo}}</td>
        <td>{{item.phuongPhap}}</td>
        <td>{{item.bacSy}}</td>
        <td>
          <div>
            <button [routerLink]="['/update', item.id]" type="button" class="btn btn-primary">Update</button>
          </div></td>
        <td>
          <!-- Button delete modal -->
          <div>
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exam'+ item.id">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" [id]="'exam'+item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-danger">Ban co muon xoa benh an {{item.idBenhAn}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="delete(item.id)"  data-bs-dismiss="modal">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <hr>
  </div>
</div>
